<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="description" content="">

  <!-- ogp -->
  <meta property="og:locale" content="ja_JP"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="{{ title }}"/>
  <meta property="og:url" content=""/>
  <meta property="og:image" content="{{dir}}/img/ogp.jpg"/>
  <meta property="og:site_name" content="{{ title }}"/>
  <meta property="og:description" content="{{ description }}"/>
  <!-- favicon -->
  <link rel="shortcut icon" href="{{dir}}/img/common/icon.ico" >
  <link rel="icon" href="{{dir}}/img/common/home_icon.png" sizes="48x62" type="image/png" media="all" />
  <link rel="apple-touch-icon-precomposed" href="{{dir}}/img/common/aticon.png" type="image/png" media="all" />

  <!-- Fonts -->
  <script>
    (function(d) {
      var config = {
        kitId: 'klx6zhd',
        scriptTimeout: 3000,
        async: true
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>

  <!-- Jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{dir}}/js/scrollreveal.js"></script>
  <link rel="stylesheet" href="{{dir}}/css/reset.css">
  <link rel="stylesheet" href="{{dir}}/css/style.css">
  <link rel="stylesheet" href="{{dir}}/css/style-t.css" media="only screen and (max-width: 1024px)">
  <link rel="stylesheet" href="{{dir}}/css/style-s.css" media="only screen and (max-width: 768px)">
  <link rel="stylesheet" type="text/css" href="{{dir}}/css/slick.css">
  <link rel="stylesheet" type="text/css" href="{{dir}}/css/slick-theme.css">
  <script type="text/javascript" src="{{dir}}/js/slick.min.js"></script>
  <script src="{{dir}}/js/function.js"></script>


  <title>Mapledawn</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-436KGV85CY"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-436KGV85CY');
  </script>
</head>

<body id="">
  <header class="header">
    <div class="container flex">
      <div class="header__logo">
        <a href="#">
          <h1 class="header__logo--h1 font-BebasNeueBold">Mapledawn</h1>
        </a>
      </div>
      <div class="header__navi">
        <nav class="globalnavi">
          <ul class="globalnavi__list flex">
            <li><a href="#sec02">Abouts</a></li>
            {# <li><a href="">News</a></li> #}
            <li><a href="#sec03">Privacy</a></li>
          </ul>
        </nav>
      </div>
      {# <div class="header__spbtn sp">
        <span></span>
        <span></span>
        <span></span>
      </div> #}
    </div>
  </header>
  <!-- header -->

  <main class="main">
    <article class="article">
      <section class="section main-section">
        <div class="container flex">
          <div class="section__contents">
            <div class="read">
              <p class="section__contents--ttls big-ttls font-BebasNeueBold">Mapledawn</p>
              <p class="section__contents--text middle-text">北海道、道央で働いているフロントエンジニア「HN:東雲 楓」です。Maple（楓）dawn（東雲）でMapledawn。<br>HTML、CSS、PHP、Wordpressでのサイト制作、更新作業をかれこれ3年以上続けています。<br>様々な情報の発信の場としてサイトを開設しました。<br>このサイトはeleventyを使用して制作されています。</p>
              <p class="section__contents--text middle-text">I'm Kaede Shinonome, a front engineer working in Central Hokkaido, Hokkaido.<br>I have been creating and updating sites with HTML, CSS, PHP and Wordpress for more than 3 years.<br>We have set up a site as a place to disseminate various information.<br>This site is created using eleventy.</p>
            </div>
            <!-- read -->

            {# <div class="news">
              <h2 class="section__contents--ttls middle-ttls font-BebasNeueBold">New Information</h2>
              <ul class="news__list">
                <li><a href=""><span class="category">category</span><span class="date">0000.00.00</span><br class="sp">informationtitle-information</a></li>
                <li><a href=""><span class="category">category</span><span class="date">0000.00.00</span><br class="sp">informationtitle-information</a></li>
              </ul>
            </div>
            <!-- information --> #}
            
            <div class="contentslist">
              <h2 class="section__contents--ttls middle-ttls font-BebasNeueBold">CONTENTS</h2>
              <ul class="section__contents--navi flex">
                <li><a href="#sec02" class="text-link01">Abouts</a></li>
                {# <li><a href="">Information-list</a></li> #}
                <li><a href="#sec03" class="text-link01">Privacy</a></li>
              </ul>
            </div>
            <!-- contentslist -->

            <a href="#sec02" class="next-section">Please click! To the next content "Abouts" !</a>
          </div>
        </div>
        <!-- container -->
      </section>
      <!-- main-section -->

      <section class="section sub-section">
        <div class="container flex" id="sec02">
          <div class="section__contents">
            <div class="profiles">
              <h2 class="section__contents--ttls middle-ttls font-BebasNeueBold">Profile</h2>
              <p class="section__contents--text">主に札幌から千歳で活動してるフロントエンジニア。<br>Wordpressでのサイト制作、通常のHTMLコーディングをメインの業務としています。<br>趣味はTCG、ゲーム、読書。文章作家やイラストレーターまがいのことをしていた時期もありました。</p>
              <p class="section__contents--text">A front engineer who is mainly active in Chitose from Sapporo.<br>My main business is site creation with Wordpress and normal HTML coding.<br>My hobbies are TCG, games, and reading. There was also a time when I was doing something wrong with a writer or illustrator.</p>
              <dl class="section__contents--definition flex">
                <dt>Name</dt>
                <dd>Maple dawn</dd>
              </dl>
              <!-- section__contents--definition -->
              <dl class="section__contents--definition flex">
                <dt>Activities Base</dt>
                <dd>Hokkaido. Japan</dd>
              </dl>
              <!-- section__contents--definition -->
            </div>
            <!-- profiles -->

            <div class="skills">
              <h2 class="section__contents--ttls middle-ttls font-BebasNeueBold">Skills</h2>
              <p class="section__contents--text">HTML CSS Javascript PHP eleventy WordPress</p>
            </div>
            <!-- skills -->

            <div class="sns">
              <h2 class="section__contents--ttls middle-ttls font-BebasNeueBold">SNS</h2>
              <ul class="section__contents--sns">
                <li><a href="https://twitter.com/mapledawn0335" class="text-link01" target="_blank">Twitter</a></li>
              </ul>
            </div>
            <!-- sns -->

            <a href="#sec03" class="next-section">Please click! To the next content "Privacy" !</a>
          </div>
        </div>
        <!-- container -->
      </section>
      <!-- sub-section -->

      <section class="section sub-section rev tab-auto">
        <div class="container flex" id="sec03">
          <div class="section__contents">
            <div class="privacypolicy">
              <h2 class="section__contents--ttls middle-ttls font-BebasNeueBold">Privacy Policy</h2>

              <h3 class="section__contents--subttls">個人情報の利用目的</h3>
              <p class="section__contents--text">当ブログでは、お問い合わせや記事へのコメントの際、名前やメールアドレス等の個人情報を入力いただく場合がございます。<br>取得した個人情報は、お問い合わせに対する回答や必要な情報を電子メールなどをでご連絡する場合に利用させていただくものであり、これらの目的以外では利用いたしません。</p>

              <h3 class="section__contents--subttls">アクセス解析ツールについて</h3>
              <p class="section__contents--text">当ブログでは、Googleによるアクセス解析ツール「Googleアナリティクス」を利用しています。このGoogleアナリティクスはトラフィックデータの収集のためにクッキー（Cookie）を使用しております。トラフィックデータは匿名で収集されており、個人を特定するものではありません。</p>

              <h3 class="section__contents--subttls">免責事項</h3>
              <p class="section__contents--text">当ブログからのリンクやバナーなどで移動したサイトで提供される情報、サービス等について一切の責任を負いません。<br>また当ブログのコンテンツ・情報について、できる限り正確な情報を提供するように努めておりますが、正確性や安全性を保証するものではありません。情報が古くなっていることもございます。<br>当サイトに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。</p>

              <h3 class="section__contents--subttls">著作権について</h3>
              <p class="section__contents--text">当ブログで掲載している文章や画像などにつきましては、無断転載することを禁止します。<br>当ブログは著作権や肖像権の侵害を目的としたものではありません。著作権や肖像権に関して問題がございましたらTwitterのDMにてご連絡ください。迅速に対応いたします。</p>

              <h3 class="section__contents--subttls">リンクについて</h3>
              <p class="section__contents--text">当ブログは基本的にリンクフリーです。リンクを行う場合の許可や連絡は不要です。ただし、インラインフレームの使用や画像の直リンクはご遠慮ください。</p>
            </div>
            <!-- privacypolicy -->

            {# <a href="#sec03" class="next-section">Please click! To the next content "Privacy" !</a> #}
          </div>
        </div>
        <!-- container -->
      </section>
      <!-- sub-section -->

    </article>
  </main>
  <!-- main -->

  <footer class="footer">
    <div class="container flex">
      <p class="copyright">Copyright © 2021 Mapledawn ALL Rights Reserved.</p>
    </div>
  </footer>
  <!-- footer -->
</body>
</html>